// --------------------
// Colors
// --------------------
$fire: firebrick;
$blue: dodgerblue;
$gray: #999;

// --------------------
// Measurements
// --------------------
$body-width: 45%;
$min-width: 200px;
